#!/usr/bin/env bash

# Show files/folders vertically and produce a colored output.
alias ls="ls -pA --group-directories-first --color=always"

# Use colorls for better colored output.
alias lc="colorls -A --sd"
alias ll="colorls -lA --sd"

# Use ccat for colorizing cat output.
alias cat="ccat"

# Prevent opening Vi accidentally.
alias vi="nvim"

# Use Neovim instead of Vim.
alias vim="nvim"

# Alias for Neovim tabs.
alias nvim="nvim -p"

# Alias for Ranger.
alias r="ranger"

# Start python3 and pip3 by default.
alias python=python3
alias pip=pip3

# Configure the 'remove' command.
alias rm="rm -i"

# Open vagrant.
alias vu="vagrant up && vagrant ssh"
alias vh="vagrant halt"

# Alias for sqlite.
alias sqlite=sqlite3

# Avoid SSH issues with Tmux.
alias ssh='TERM=xterm-256color ssh'

# Use a similar copying pattern as MacOS.
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

# Use aliases for Python projects.
alias pbs="project -b -s"

# Unset GhostScript.
alias gs=""
