#!/usr/bin/env bash

# Add 'coreutils' to PATH variable so macOS recognises utilities like
# sha256sum and sha512sum.
PATH="/usr/local/opt/ruby/bin:/usr/local/lib/ruby/gems/2.7.0/bin:$PATH" # Ruby and gems.
PATH="/usr/local/opt/sqlite/bin:$PATH"                                  # Sqlite 3.
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"                    # Coreutils.
PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"                      # GNU Sed.
PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"                         # Grep.
PATH="/usr/local/opt/openssl/bin:$PATH"                                 # OpenSSL.
PATH="/usr/local/opt/php/bin:$PATH"                                     # PHP.
PATH="/usr/local/opt/mongodb-community@4.2/bin:$PATH"                   # MongoDB.
PATH="/usr/local/sbin:$PATH"                                            # Homebrew formulae.
PATH="$HOME/.composer/vendor/bin:$PATH"                                 # Composer.
PATH="$PATH:/System/Library/Frameworks:/Library/Developer"

# Android development settings for React-Native.
export ANDROID_HOME=$HOME/Library/Android/sdk
PATH="$PATH:$ANDROID_HOME/emulator"
PATH="$PATH:$ANDROID_HOME/tools"
PATH="$PATH:$ANDROID_HOME/tools/bin"
PATH="$PATH:$ANDROID_HOME/platform-tools"
export PATH

# Make Neovim the default editor.
export EDITOR="nvim"

# Ensure that any other Terminal multiplexer (like Tmux) does not mess up the
# coloring.
export TERM="xterm-256color-italic"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING="UTF-8"

# You may need to manually set your Locale.
export LC_ALL="en_US.UTF-8"

# Find hidden files with FZF.
export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -g ""'
export FZF_CTRL_T_COMMAND='ag --hidden --ignore .git -g ""'

# Currently disabled flags for C compilation. Enable during development, if needed.
# export CFLAGS="-std=c11"

# Currently disabled flags for C++ compilation. Enable during development, if needed.
# export CXXFLAGS="-std=c++14 -Wall -Werror"

# Add, path to custom manpages to the MANPATH variable.
# Also, update MANPATH so that there is no need to prefix 'g' for utilities
# like sha256sum and sha512sum.
MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"
export MANPATH="$MANPATH:/usr/local/man:/usr/local/share/man:/usr/share/man:/usr/man"

############################# Colors for Manpages #############################

# Colors.
default=$(tput sgr0)
red=$(tput setaf 1)
green=$(tput setaf 2)
purple=$(tput setaf 5)
orange=$(tput setaf 9)

# Less colors for man pages.
export PAGER=less
# Begin blinking.
export LESS_TERMCAP_mb=$red
# Begin bold.
export LESS_TERMCAP_md=$orange
# End mode.
export LESS_TERMCAP_me=$default
# End standout-mode.
export LESS_TERMCAP_se=$default
# Begin standout-mode - info box.
export LESS_TERMCAP_so=$purple
# End underline.
export LESS_TERMCAP_ue=$default
# Begin underline.
export LESS_TERMCAP_us=$green

############################# Miscellaneous #############################

# Disable Virtualenv's prompt.
export VIRTUAL_ENV_DISABLE_PROMPT=1
