BasedOnStyle: WebKit
PointerAlignment: Right
ColumnLimit: 79
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
