#!/usr/bin/env bash

# Show files/folders vertically and produce a colored output.
alias ls="eza -A --group-directories-first --color=always --icons=always --classify=always"
alias ll="eza -HblA --group-directories-first --color=always --icons=always --classify=always --group --time-style=long-iso"

# Use bat instead of cat; alias original cat command to `vcat`.
alias vcat="cat"
alias cat="bat"

# Start python3 and pip3 by default.
alias python="python3"
alias pip="pip3"

# Configure the 'remove' command.
alias rm="rm -i"

# Open vagrant.
alias vu="vagrant up && vagrant ssh"
alias vh="vagrant halt"

# Create aliases for showing and hiding hidden files on macOS.
alias showFiles="defaults write com.apple.finder AppleShowAllFiles YES; \
    killall Finder /System/Library/CoreServices/Finder.app"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles NO; \
    killall Finder /System/Library/CoreServices/Finder.app"

# Alias to enable sudo access via TouchID on Mac.
# This is usually required after upgrading macOS.
alias enable-fingerprint="sudo sed -i '3 i\auth       sufficient     pam_tid.so' /etc/pam.d/sudo"

# Alias to LOVE2D.
alias love="/Applications/love.app/Contents/MacOS/love"

# Alias for sqlite.
alias sqlite="sqlite3"

# Avoid SSH issues with Tmux.
alias ssh="TERM=xterm-256color ssh"

# Reload a React-Native app on Android.
alias rr="adb shell input text 'RR'"
alias shake="adb shell input keyevent 82"

# Stop GhostScript from opening up on mistyped git aliases.
alias gs=""

# Alias for lazygit.
alias lzg="lazygit"

# Handy aliases for Homebrew.
alias buu="brew update && brew upgrade && brew cleanup"
alias bdeps="brew leaves | xargs brew deps --installed --for-each | sed \"s/^.*:/\$(tput setaf 4)&\$(tput sgr0)/\""

# Docker tools.
alias dcupbd="docker compose up --build -d"
alias lzd="lazydocker"

# Kubernetes.
alias kctl="kubectl"
alias kctx="kubectx"
alias kns="kubens"
alias kfwd="kubefwd"

# Aliases for quickly switching architectures.
alias arm="env /usr/bin/arch -arm64 /bin/zsh --login"
alias intel="env /usr/bin/arch -x86_64 /bin/zsh --login"
